@page "/Account/Login"
@attribute [AllowAnonymous]
@using FlashCardGenerator.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<div class="login-page">
  <div class="login-wrapper">
    <div class="login-content">
      <h1 >FlashCard Generator</h1>
      <div class="intro">
        <div class="hr"></div>
        <h2>Log in</h2>
        <div class="hr"></div>
      </div>
      <div class="row">
        <section>
          <StatusMessage Message="@_errorMessage"/>
          <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="form-floating mb-3">
              <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
              <label for="email" class="form-label">Email</label>
              <ValidationMessage For="() => Input.Email" class="text-danger"/>
            </div>
            <div class="form-floating mb-3">
              <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
              <label for="password" class="form-label">Password</label>
              <ValidationMessage For="() => Input.Password" class="text-danger"/>
            </div>
            <div class="checkbox mb-3">
              <label class="form-label">
                <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input"/>
                Remember me
              </label>
            </div>
            <div>
              <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <hr/>
            <div>
              <p>
                <a href="Account/ForgotPassword">Forgot your password?</a>
              </p>
              <p>
                <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a>
              </p>
            </div>
          </EditForm>
        </section>
      </div>
    </div>
  </div>
</div>